 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: HSLA(224, 74%, 15%, 1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;
}

.hero-unit {
  margin: 50px auto 50px auto;
  width: 100%;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 30px;
  background-color: #fafafa;
  border-radius: 6px;
  padding: 60px;

  h1 {
    margin: 10px auto;
    text-align: center;
    color: HSLA(224, 72%, 15%, 1);
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }

  h2 {
    text-align: center;
    color: HSLA(224, 72%, 15%, 1);
  }

  // .results {
  //   overflow: auto;
  //   margin: 40px auto 0px auto;
  //
  //   ul {
  //     overflow: auto;
  //     text-align: center;
  //
  //     p {
  //       font-size: 1.5em;
  //       margin: 0px auto;
  //       padding: 2%;
  //     }
  //
  //     li {
  //       float: left;
  //       width: 20%;
  //       height: 200px;
  //       margin: 30px 6% 50px 0px;
  //       list-style-type: none;
  //       border-radius: 15px;
  //       background-color: HSLA(198, 75%, 65%, 1);
  //       color: HSLA(224, 72%, 15%, 1);
  //
  //       &:last-child {
  //         margin-right: 0%;
  //       }
  //     }
  //   }
  // }

  #user_favs {
    overflow: auto;
    margin: 60px auto 60px auto;
    text-align: center;
  }

  .col {
    float: left;
    margin-left: 2.5%;
    width: 17%;
    height: 170px;
    text-align: center;
    border-radius: 15px;
    background-color: HSLA(224, 72%, 15%, 1);
    color: HSLA(0, 0%, 100%, 1);

    p {
      padding: 0% 2%;
    }
  }

  input, select {
    width: 90%;
    margin-top: 30px;
    padding-left: 5%;
    border-radius: 15px;
    color: HSLA(0, 0%, 0%, 1);
    font-size: 0.8em;
  }

  .btn {
    clear: both;
    text-align: center;
  }

  button {
    width: 30%;
    height: 50px;
    border: 1px solid HSLA(224, 72%, 15%, 1);
    border-radius: 15px;
    transition: background-color 1s ease;
    background-color: HSLA(198, 75%, 65%, 1);
    transition: color 1s smooth;
    color: HSLA(0, 0%, 0%, 1);

    &:hover {
      background-color: HSLA(198, 75%, 45%, 1);
      color: HSLA(0, 0%, 100%, 1);
    }
  }
}
