 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 62.5%;

  .header {
    height: 50px;
    background-color: HSLA(224, 74%, 15%, 1);
  }

  .hero-unit {
    margin: 0px auto;
    width: 100%;
    font-size: 1.5em;
    font-weight: 200;
    line-height: 30px;
    background-color: #fafafa;
    padding: 10px;

    h1 {
      margin: 10px auto;
      text-align: center;
      color: HSLA(224, 72%, 15%, 1);
      font-size: 4em;
      line-height: 1;
      letter-spacing: -1px;
    }

    .sorts {
      // display: block;
      text-align: center;
    }

    #getawayList {
      @include outer-container;

      .allGetaways {
        overflow: auto;
      }

      li {
        @include span-columns(3);
        @include omega(4n);
        margin-bottom: 20px;
        border: 1px solid HSLA(223, 76%, 15%, 1);
        border-radius: 20px;
        background-color: HSLA(223, 76%, 85%, 1);
        text-align: center;
        font-size: 1.2em;
        cursor: pointer;

        &:hover {
          border: 3px solid HSLA(223, 76%, 15%, 1);
        }

        &:nth-child(2n) {
          background-color: HSLA(223, 76%, 65%, 1);
        }

        & > p:first-child {
          margin-top: 14px;
          padding: 2%;
          background-color: HSLA(223, 76%, 15%, 1);
          text-transform: uppercase;
          color: white;
        }

        div > p {
          font-size: 0.8em;
        }
      }
    }
  }

  .footer {
    height: 50px;
    background-color: HSLA(224, 74%, 15%, 1);
  }
}

.hide {
  display: none;
}
