<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Getaways!</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="hero-unit">
      <h1>Getaways</h1>
      <a href="#/add" class="addNewBtn"><button>Add New Getaway</button></a>
      <div class="sorts">
        <a href="#/">Rating</a>
        <a href="#/sort/destination">Destination</a>
      </div>
      <div id="getawayList"></div>
    </div>

    <script type="text/template" id="addTemp">
      <form id="addGetaway">
        <input type="text" id="name" placeholder="Your Name" />
        <input type="text" id="getaway_destination" placeholder="Destination Visited" />
        <input type="number" min="1" max="100" id="getaway_duration" placeholder="Length of Stay in Days" />
        <button class="addBtn">Add Getaway</button>
        <button class="returnHome">Home</button>
      </form>
    </script>

    <script type="text/template" id="listTemp">
      <li id="<%= _id %>">
        <p><%= destination %></p>
        <p>Duration: <%= duration %> days</p>
        <p>Traveler: <%= name %></p>
        <a href="#/edit/<%= _id %>">
          <% if(rating !== '') { %>
            <div><p>Rating: <%= rating %> out of 5</p></div>
          <% } else { %>
            <div><p>click to add rating</p></div>
          <% } %>
        </a>
        <a href="#/edit/<%= _id %>">
          <% if(comments !== '') { %>
            <div><p>Comments: <%= comments %></p></div>
          <% } else { %>
            <div><p>click to add comments</p></div>
          <% } %>
        </a>
      </li>
    </script>

    <script type="text/template" id="singleTemp">
      <li id="<%= _id %>">
        <form id="updateGetaway">
            <div>
              <span>Name: </span><input type="text" value="<%= name %>" id="update_name" />
              <span>Destination: </span><input type="text" value="<%= destination %>" id="update_destination" />
              <span>Duration (days): </span><input type="number" min="1" max="100" value="<%= duration %>" id="update_duration" />
              <div>
              <span>Rating: </span>
                <select>
                  <option name="rating" value="1" <% if (rating == "1") { %>checked<% } %><span>1 (low)</span></option>
                  <option name="rating" value="2" <% if (rating == "2") { %>checked<% } %><span>2</span></option>
                  <option name="rating" value="3" <% if (rating == "3") { %>checked<% } %><span>3</span></option>
                  <option name="rating" value="4" <% if (rating == "4") { %>checked<% } %><span>4</span></option>
                  <option name="rating" value="5" <% if (rating == "5") { %>checked<% } %><span>5 (high)</span></option>
                </select>
              </div>
              <textarea id="update_comments" placeholder="enter a comment..."><%= comments %></textarea>
            </div>
            <button>Update Getaway</button>
            <button id="delete">Delete</button>
        </form>
      </li>
    </script>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script type="text/javascript">
        window.App = {};
        App.Models = {};
        App.Collections = {};
        App.Views = {};
        App.Routers = {};
    </script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/models/getaway_model.js"></script>
    <script src="scripts/collections/getaway_collection.js"></script>
    <script src="scripts/views/add_getaway_view.js"></script>
    <script src="scripts/views/list_getaway_view.js"></script>
    <script src="scripts/views/single_getaway_view.js"></script>
    <script src="scripts/routes/app_router.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>
